<template>
  <v-layout row wrap>
    <v-flex xs12 class="text-xs-center">
      <input type="file" style="display: none;" ref="file" v-on:change="upload">
      <v-btn color="success" v-on:click.native="open">Open matrix</v-btn>
      <v-btn color="success" v-on:click.native="random">Random matrix</v-btn>
      <v-btn color="success" v-on:click.native="rotate">Rotate</v-btn>
      <v-btn color="success" v-on:click.native="download">Download matrix</v-btn>
    </v-flex>
    <v-flex xs12>
      <v-container>
        <table class="v-table" border="1px">
          <tr v-for="(row,i) in matrix" :key="i">
            <td v-for="(item,j) in row" :key="j">{{item}}</td>
          </tr>
        </table>
      </v-container>
    </v-flex>
  </v-layout>
</template>

<script>
import "downloadjs";
export default {
  data() {
    return {
      matrix: [[2, 4, 5], [5, 1, 3], [6, 4, 1]],
      file: null
    };
  },
  computed: {},
  methods: {
    open() {
      this.$refs.file.click();
    },
    upload(event) {
      const formData = new FormData();
      const that = this;
      formData.append("file", event.target.files[0]);
      fetch(`${process.env.VUE_APP_API_URL}/upload`, {
        method: "post",
        body: formData
      })
        .then(function(response) {
          that.$refs.file.value = null;
          if (response.status == 200) {
            return response.json();
          }
        })
        .then(data => {
          that.matrix = data;
        });
    },
    random() {
      this.matrix = Array(5)
        .fill(undefined)
        .map((x, i) =>
          Array(5)
            .fill(undefined)
            .map((y, j) => Math.floor(Math.random() * 10))
        );
    },
    rotate() {
      fetch(`${process.env.VUE_APP_API_URL}/api/rotate`, {
        method: "post",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          body: this.matrix
        })
      })
        .then(function(response) {
          if (response.status == 200) {
            return response.json();
          }
        })
        .then(data => {
          this.matrix = data.body;
        });
    },
    download() {
      fetch( `${process.env.VUE_APP_API_URL}/download`, {
        method: "post",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          body: this.matrix
        })
      })
        .then(function(response) {
          if (response.status == 200) {
            return response.blob();
          }
        })
        .then(function(blob) {
          console.log(blob);
          //this.file = blob.file;
          //download(blob, "matrix.csv", "text/csv");
          //browser.downloads.download(blob.f);
          var a = document.createElement("a");
          a.href = URL.createObjectURL(blob);
          a.setAttribute("download", "matrix.csv");
          a.click();
        });
    }
  }
};
</script>

