<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span class="font-weight-light">ROTATE</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-content>
      <!-- <HelloWorld/> -->
      <Rotate/>
    </v-content>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld'
import Rotate from './components/Rotate'

export default {
  name: 'App',
  components: {
    HelloWorld,
    Rotate
  },
  data () {
    return {
      //
    }
  }
}
</script>
